
table.table-condensed {
    width: 50%;
    margin-left: 25%;
    margin-right: 5%;
}

td{
    border: 1px solid black;
}

th {
    text-align: center;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}


.noWrap {
    border: 0px;
    white-space: nowrap;
    width: 50px;
}

p.error {
    color: brown;
}



